.DS_Store
*.swp
*.pyc
coralProject alias
__pycache__/
deapGeneticProgrammingExperiments/
Evolution Archive/
SupportingDocuments/
animations/
blender_shapes/
processor_tree_archive/
ideas.md
*.blend1
EvolvedVirtualPlants_Presentation.key
'
_site/
Gemfile.lock
genealogy_cat.pdf
tree.txt
line_data.npy
