---
layout: default
title: {{ site.name }}
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
  <hr/>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  <!-- Previous Button -->
  {% if paginator.previous_page %}
  <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">Newer Posts</a>
  {% else %}
    <span class="previous">Newer Posts</span>
  {% endif %}
  
  <!-- Numbers -->
  <span> | </span>
  {% for i in (1..paginator.total_pages) %}
	  {% if paginator.page == forloop.index %}
	  <b>{{ forloop.index }}</b>
	  {% else %}
	  <span>{{ forloop.index }}</b>
	  {% endif %}
	  {% if paginator.total_pages != forloop.index %}
	  <span> , </span>
	  {% endif %}
  {% endfor %}
  <span> | </span>


  <!-- Older Button -->
  {% if paginator.next_page %}
  <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="older">Older Posts</a>
  {% else %}
    <span class="older ">Older Posts</span>
  {% endif %}

</div>

